<p> Welcome to <%= title %>. <%= session.email ? `(${session.email})` : '' %></p>

<nav>
  <ul>
    <% if (!session.email) { %>
      <li> <a href="/signup"> Sign Up </a> </li>
      <li> <a href="/login"> Log In </a> </li>
    <% } else { %>
      <li> <a href="/launderers"> Find a Launderer </a> </li>
      <li> <a href="/dashboard"> See Dashboard </a> </li>
      <li> <a href="/logout"> Log Out </a> </li>
    <% }%>
  </ul>
</nav>
<% if (flash.welcome) {%>
  <p><strong><%= flash.welcome %>!</strong></p>
<% } %>